.modalWrapperOpen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: block;
  z-index: 1;
}

.modalWrapperClose {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  height: 0;
  display: none;
}

.modalBody {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  max-height: 300px;
  margin-top: 150px;
}

h1 {
  text-align: center;
  font-size: xx-large;
  width: 100%;
  margin: 0;
}
