@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.header {
  min-height: 70px;
  min-width: 80%;
  background-color: #1e347d;
}

.btn {
  float: right;
  background-color: white;
  border: none;
  color: #1e347d;
  font-weight: bold;
  padding: 0 15px 0 15px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 15px 10px 15px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.btn:hover {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #202124;
  float: left;
  margin: 10px 10px 0 10px;
  cursor: pointer;
}
